/* ==========================================================
   Custom Banner
   ========================================================== */

.custom-banner {
  padding: 80px 0;
  position: relative;
}

.custom-banner__wrapper {

  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.custom-banner__content {
  position: obsolete;
  display: flex;
  flex: 1;
}

.custom-banner__heading {
  margin-bottom: 1rem;
   margin-left: 4rem;
}

.custom-banner__description {
  margin-bottom: 2rem;
  margin-left: 4rem;
}

.custom-banner__button {
  margin-left: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  text-decoration: none;
}

.custom-banner__img {
  display: block;
  width: 100%;
  height: auto;
}