/* ==========================================================
   Custom Banner
   ========================================================== */

.custom-banner {
  position: relative; 
}

.custom-banner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.custom-banner__image {
  position: relative;
  flex: 1;
}

.custom-banner__content {
  position: absolute;
  z-index: 1;
  text-align: left;
  left: 4rem;
  margin-left: 1rem;
  margin-top: 20rem;
  word-spacing: 8px;
}

.custom-banner__heading {
  margin-bottom: 1rem;
}

.custom-banner__description {
  margin-bottom: 2rem;
  max-width: 35%;
}

.custom-banner__button {
  display: inline-flex;
  background-color: #0a0a0a;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
}



.custom-banner__img {
  display: block;
  width: 100%;
  height: auto;
}

/* ==========================================================
   Bottom Text Section
   ========================================================== */

.custom-banner__bottom-text {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: #e8e4e4;
  text-align: center;
  padding: 24px 20px;
}

.custom-banner__bottom-text p {
  margin: 0;
  max-width: 900px;
  margin-inline: auto;
  font-size: 18px;
  color: #090909;
  line-height: 1.6;
}

/* Mobile */

@media screen and (max-width: 749px) {
  .custom-banner__bottom-text {
    padding: 18px 16px;
  }

  .custom-banner__bottom-text p {
    font-size: 16px;
    line-height: 1.5;
  }
}